# Ignore all files in the web_dump folder
Project_2_Web_Crawler/spacetime_crawler_data/*
Project_2_Web_Crawler/__pycache__/*
Project_2_Web_Crawler/spacetime_crawler_data.zip
Project_3_Search_Engine/webpages/*
Project_3_Search_Engine/webpages.zip
Project_3_Search_Engine/LONGindex.json
Project_3_Search_Engine/index.json
Project_3_Search_Engine/1index.json
Project_3_Search_Engine/docs.json